<% comments.each do |comment| %>
  <hr>
  <span class="text-muted pull-right">
    <small class="text-muted">
      <%= comment.created_at.strftime("Posted on %m/%d/%Y at: %I:%M%p") %>
    </small>
  </span>
  <strong class="text-success">
    <%= link_to "@#{comment.user.profile.nickname}", profile_path(comment.user.profile)%>
  </strong>
  <p><%= comment.body %></p>
  <p><%= link_to 'Destroy', [task, comment], method: :delete, class: 'card-link text-danger', data: { confirm: 'Are you sure?' } %></p>
  <hr>
<% end %>
