<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <%= render 'task', task: @task %>
    </div>
    <div class="col-md-12 mt-5">
      <h4>Comments</h4>
      <%= render 'tasks/comment', task: @task %>
    </div>
  </div>
</div>
